# =========================
# DATA FILES (DO NOT TRACK)
# =========================
*.csv
*.parquet
*.xlsx
*.json

# NVIDIA export files (extra safety)
DEVPM_*.csv

# =========================
# DATABASE FILES
# =========================
*.duckdb
*.duckdb.tmp
*.duckdb.wal
*.db
*.sqlite

# =========================
# DATA DIRECTORIES
# =========================
data/
datasets/
raw_data/

# =========================
# NOTEBOOK CHECKPOINTS
# =========================
.ipynb_checkpoints/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# ENVIRONMENT FILES
# =========================
.env
venv/
.env/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# OUTPUT FILES (OPTIONAL)
# =========================
*.html
Data Cleaning Ideas and testing_files/libs/quarto-html/tabsets/tabsets.js
Data Cleaning Ideas and testing_files/libs/quarto-html/tippy.umd.min.js
Data Cleaning Ideas and testing_files/libs/quarto-html/tippy.css
Data Cleaning Ideas and testing_files/libs/quarto-html/quarto.js
Data Cleaning Ideas and testing_files/libs/quarto-html/quarto-syntax-highlighting-ea385d0e468b0dd5ea5bf0780b1290d9.css
Data Cleaning Ideas and testing_files/libs/quarto-html/popper.min.js
Data Cleaning Ideas and testing_files/libs/quarto-html/anchor.min.js
Data Cleaning Ideas and testing_files/libs/clipboard/clipboard.min.js
Data Cleaning Ideas and testing_files/libs/bootstrap/bootstrap.min.js
Data Cleaning Ideas and testing_files/libs/bootstrap/bootstrap-icons.woff
Data Cleaning Ideas and testing_files/libs/bootstrap/bootstrap-icons.css
Data Cleaning Ideas and testing_files/libs/bootstrap/bootstrap-bb462d781dde1847d9e3ccf7736099dd.min.css
